<template>
    <div class="create-game">
        
        <h1 class="title-create-game">Créez votre partie</h1>

        <form>
            <div class="choose-difficulty" >
                <h4>Choisissez la difficulté</h4>
                <select v-model="difficultyValue">
                    <option disabled value="">Choisissez la difficulté</option>
                    <option>Normale</option>
                    <option>Difficile</option>
                </select>
            </div>

            <div class="choose-category" >
                <h4>Choisissez la catégorie</h4>
                <select v-model="categoryValue">
                    <option disabled value="">Choisissez la catégorie</option>
                    <option>Sport</option>
                    <option>Musique</option>
                    <option>Jeux vidéos</option>
                </select>
            </div>

            <div class="choose-number-questions" >
                <h4>Choisissez le nombre de questions</h4>
                <select v-model="numberQuestionValue">
                    <option disabled value="">Choisissez le nombre de questions</option>
                    <option>1</option>
                    <option>3</option>
                    <option>5</option>
                </select>
            </div>
        
            <button v-on:click.prevent="postParametersGame" class="submit">Lancer la partie</button>

            <router-link :to="{name: 'menu'}" class="menu">Annuler</router-link>


        </form>

    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'CreateGame',
        components: {

        },
        data() {
            return {
                difficultyValue: 'Normale',
                categoryValue: 'Sport',
                numberQuestionValue: 1,
                err: false,
                success: false
            };
        },
        methods: {
            getDifficulty: function() {
                return this.difficultyValue;

            },
            getCategory: function() {
                return this.categoryValue;
            },
            getNumberQuestion: function() {
                return this.numberQuestionValue;

            },
             postParametersGame() {
              axios.post('http://localhost:8000/question', {
                difficultyValue : this.getDifficulty(),
                categoryValue : this.getCategory(),
                getNumberQuestion : this.getNumberQuestion(),
              }).then(response => {
                if(response.status === 200) {
                  console.log(response);
                  this.success = true;
                  localStorage.setItem('id_category', this.getCategory());
                  localStorage.setItem('number_question', this.getNumberQuestion());
                  this.$router.push({name:'game'});
                }
              }).catch((err)=>{
                console.log(err)
                this.err = "Une erreur est survenue lors de l'envoie des paramètres de la partie";

                if(err.response.status === 401) {
                    this.err = "Vous n'avez pas l'autorisation d'envoyer les paramètres";
                }
              });
            }
        }
    }
</script>
