<template>
  <div class="game">
    <form>
      <Question></Question>
    </form>
  </div>
</template>

<script>
import Question from '../components/Question.vue'

export default {
  name: 'Game',
  components: {
    Question
  }
}
</script>
