<template>
    <div class="menu">
        <router-link :to="{name: 'create-game'}" class="create-game"><button>Lancer une partie</button></router-link>
        <router-link :to="{name: 'score'}" class="score"><button>Consulter mes scores</button></router-link>
        <button v-on:click.prevent="logout">Se déconnecter</button>
    </div>
</template>

<script>
    export default {
        name: 'Menu',
methods: {
    logout() {
      localStorage.removeItem("access_token");
       localStorage.removeItem("id");
      this.$router.push({ name: "login" });
    },
}
}
</script>