<template>
    <div class="score">
      <section class="scores" v-if="scores">
       <h1>Résultat des mes parties</h1>
        <div v-for="(score, skey) in scores" :key="skey">
          <div v-for="(category, ckey) in categories" :key="ckey">
            <div v-if="score.id_category === category.id" >
              <table border="1">
                  <caption>Parties N° {{skey}}</caption>

                  <tr>
                      <th>Score</th>
                      <th>Date</th>
                      <th>Nombre de question</th>
                      <th>Thème</th>
                  </tr>

                  <tr>
                      <td>{{score.score }}</td>
                      <td>{{score.date}}</td>
                      <td>{{score.number_question}}</td>
                      <td>{{category.title}}</td>
                  </tr>
            </table>

            </div>
          </div>
        </div><br/>
        <router-link :to="{name: 'menu'}" class="menu">Revenir au menu</router-link>

      </section>
    </div>
</template>

<script>
    import axios from "axios";
    import categoriesService from "../services/categoriesService";

    export default {
        name: 'Score',
        components: {

        },
      data() {
          return {
            scores: null,
            ids: [],
            categories: Object
          }
      },
      mounted() {
          this.getScore()
      },
      methods: {
        getScore: function() {
          axios.get('http://localhost:8001/getScore', {
            params: {
              id_user: localStorage.getItem('id')
            }
          }).then(response => {
            if(response.status === 200) {
              this.scores = response.data.data;
              for (let i = 0; i < this.scores.length; i++) {
                this.ids = this.scores.map(item => item.id_category);
              }
              categoriesService.getNameCategory(this.ids).then((res => {
                    this.categories = res;
              }));
              this.success = true;
            }
          }).catch((err)=>{
            console.log(err)
            this.err = "Une erreur est survenue lors de la récupération des questions";

            if(err.response.status === 401) {
              this.err = "Vous n'avez pas l'autorisation d'afficher les questions'";
            }
          });
        }
      }
    }
</script>
