<template>
    <div class="loginPage">
        <form class="form">
            <input v-model="email" placeholder="Email" type="text" name="email"/> <br>

            <input v-model="password" placeholder="Mot de passe"  type="password"  name="password"/><br>

            <button v-on:click.prevent="signin" class="submit">Me connecter</button>
        
            <router-link :to="{name: 'register'}" class="register">Créer mon compte</router-link>
        </form>

    </div>
</template>

<script>
    import axios from 'axios';

    import localStorageService from "@/services/localStorageService";

    export default {
        name: 'Signin',
        components: {

        },
        data() {
    return {
      email   : '',
      password: '',
      err     : false,
      success : false,



    };
  },
        methods: {
    
            signin() {
                this.err  = false;
                this.success = false;


                if(!this.email || !this.password) {
                    this.err = 'identifiant absent'
                    return;
                }
               axios.post('http://localhost:5000/api/v1/myquestionauth/login', {
                
                    email : this.email,
                    password : this.password,
                }).then(response => {
                        if (response.status === 200) {
                            this.success = true;
                            console.log(response.data);
                            localStorageService.setAccessToken(response.data.token);
                            localStorage.setItem('id', response.data.id);
                        if(this.$route.query.nextUrl != null){
                            this.$router.push({name: this.$route.query.nextUrl});
                        } else {
                            this.$router.push({name:'menu'});
                        }

                    } 
                }).catch((err)=>{
                        console.log(err)
                        this.err = 'Une erreur est survenue lors de la connexion';

                        if(err.response.status === 401) {
                            this.err = "Identifiant ou mot de passe incorrect, vous n'avez pas l'Authorization de vous connecter";
                        }
                    });
            }
        }

    }
</script>
