<template>
    <div class="signup">
        <h1>Créer mon compte</h1>
          <div v-if="success || error" v-bind:class="{'error': error, 'success': success}" class="message">{{ error ? error : 'Utilisateur créé avec succès !' }}</div>
          <form>
            <div><input type="text" id="pseudo" placeholder="Pseudo" v-model="pseudo"></div>
            <div><input type="text" id="email" placeholder="email" v-model="email"></div>
            <div><input type="password" id="password" placeholder="Mot de passe" v-model="password"></div>
            <div><input type="password" id="passwordConfirm" placeholder="Confirmer le mot de passe" v-model="passwordConfirm"></div>
            <button v-on:click.prevent="signup" class="submit">S'inscrire</button>
            <router-link :to="{name: 'login'}" class="login">J'ai déjà un compte</router-link>
          </form>

    </div>
</template>
<script>
import axios from 'axios';

    export default {
        name: 'Signup',
        components: {

        },
        data: function () {
        return {
        email: '',
        password: '',
        passwordConfirm: '',
        pseudo:'',
        cgu: '',
        success : false,
        error : false
      }
    },
        methods: {
          signup: function () {
            this.error = false;

            if (!this.email || !this.password) {
              this.error = 'Email et mot de passe requis'
              return;
            }
            if(this.password !== this.passwordConfirm) {
              this.error = 'Confirmation du mot de passe incorrect';
              return;
            }
            
            axios.post('http://localhost:5000/api/v1/myquestionauth/register', {
              email : this.email,
              password : this.password,
              pseudo : this.pseudo
            }).then(response => {
              if(response.status === 200) {
                this.success = true;
                this.$router.push({name:'login'})
              }
            }).catch(error => {
              this.error = 'Une erreur est survenue lors de la création';
              if(error.response.status === 409) {
                this.error = 'Utilisateur déjà existant';
              }
            });
          }
        }

    }
</script>
