<template>
  <div class="question">
  
    <section class="questions" v-if="questions">

      <div v-for="(question, qkey) in questions" :key="qkey">
        <h1>{{ question.content }}</h1><br>
        <section class="answers" v-if="answers">
          <div v-for="(answer, akey) in answers" :key="akey">
            <input type="radio" v-model="result[qkey]"  :id="answer.content" :value="answer.content+answer.response" v-if="answer.id_question === question.id">
            <label :for="answer" v-if="answer.id_question === question.id">{{ answer.content }}</label><br>
          </div>
        </section>
      </div>
      <button v-on:click.prevent="saveGame" class="submit">VALIDER</button>
      <router-link :to="{name: 'menu'}" class="menu">QUITTER LA PARTIE</router-link>


    </section>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Question',
  components: {

  },
  data() {
    return {
      questions: [],
      answers: [],
      ids: [],

      result: [],
      number_question:localStorage.getItem('number_question'),
      id_user:localStorage.getItem('id'),
      id_categogy:localStorage.getItem('id_category'),
    }
  },
  mounted() {
    this.getQuestions()
  },
  methods: {
    getQuestions: function() {
      axios.get('http://localhost:8000/question').then(response => {
        if(response.status === 200) {
          this.questions  = response.data.data;
          for (let i = 0; i < this.questions.length; i++) {
            this.ids = this.questions.map(item => item.id);
          }
          this.success = true;
          this.getAnswers(this.ids);
        }
      }).catch((err)=>{
        console.log(err)
        this.err = "Une erreur est survenue lors de la récupération des questions";

        if(err.response.status === 401) {
          this.err = "Vous n'avez pas l'autorisation d'afficher les questions'";
        }
      });
    },
    getCategory(){
      if(this.id_categogy === "Sport"){
          return this.id_categogy = "1";
      }else if(this.id_categogy === "Musique"){
          return this.id_categogy = "2";
      }else{ 
          return this.id_categogy = "3";
      }
    },
    getScore: function() {

      let result = []
      let score = 0;
      for (let index = 0; index < this.result.length; index++) {
        result[index] = this.result[index].slice(this.result[index].length - 1);
      }
      for (let i = 0 ; i < result.length; i++) {
        if (result[i] === '1'){
          score += 1;
        }
      }
      return score;
    },
  saveGame(){
    const score = this.getScore();
    axios.post('http://localhost:8001/saveScore', {
      score : score,
      number_question : this.number_question,
      id_user : this.id_user,
      id_category: this.getCategory(),
      date: Date.now()
    }).then(response => {
      if (response.status === 200) {
        console.log(response.data);
        this.success = true;
      if(this.$route.query.nextUrl != null){
        this.$router.push({name: this.$route.query.nextUrl});
      } else {
        this.$router.push({name:'menu'});
      }

      }
    }).catch((err)=>{
      console.log(err)
      this.err = 'Une erreur est survenue lors de la connexion';

      if(err.response.status === 401) {
        this.err = "Identifiant ou mot de passe incorrect, vous n'avez pas l'Authorization de vous connecter";
      }
    });
         
  },
    getAnswers(ids) {
      axios.get('http://localhost:8000/answer', {
        params: {
          id_question: ids
        }
      }).then(response => {
        if(response.status === 200) {
          console.log(response.data.data);
          this.answers = response.data.data;
        }
      }).catch((err)=>{
        console.log(err)
        this.err = "Une erreur est survenue lors de la récupération des réponses";

        if(err.response.status === 401) {
          this.err = "Vous n'avez pas l'autorisation de récupérer les réponses";
        }
      });
    }
  }
}
</script>
<style>
li {
  list-style-type: none;
}
</style>
